* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 0.65rem;
}

.navbar__left {
  margin-left: 7rem;
  font-weight: bolder;
  color: #236076;
}

.navbar__left > p {
    font-size: 1.25rem;
}

.navbar__right {
  position: absolute;
  right: 5%;
}

.navbar__right > ul {
  list-style: none;
}
.navbar__right > ul > li {
  display: inline;
  margin: 0 5px 0 5px;
}

.navlinks > a {
  text-decoration: none;
  cursor: pointer;
}

.navlinks > a:link,
.navlinks > a:visited {
  color: black;
}

.available__link:hover {
  padding-bottom: 0.25rem;
  border-bottom: 3px solid #db7a4e;
}

.current__link{
    padding-bottom: 0.25rem;
    border-bottom: 3px solid #236076;
}

/* RECOMMENDATIONS SECTION */

.recommendations__container {
  height: 45rem;
  background-position: bottom;
  background-size: cover;
}

.hawaii__container{
    background-image: url("/Assets/Images/hawaii.jpg");
}

.greece__container{
    background-image: url("/Assets/Images/greece.jpg");

}

.iceland__container{
    background-image: url("/Assets/Images/iceland.jpg");
}

.recommendations__text {
  position: relative;
  left: 10rem;
  top: 3rem;
  color: white;
  font-weight: bolder;
  font-size: 5rem;
}

.card__group {
  position: relative;
  top: 3rem;
  height: 25rem;
  display: flex;
  justify-content: center;

}

.card {
  margin: 0 2rem 0 2rem;
  width: 16rem;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.card__title {
  margin: 1rem 1rem 2rem 1rem;
  border-bottom: 3px solid black;
  font-size: 1.5rem;
  font-weight: bold;
  
}

.card > ul {
  list-style: none;
}

.card > ul > li {
    margin: 10px 0 10px 0;
    background-color: #faf4f4d7;
    padding: 1.25rem ;
}

.card:hover {
  transform: scale(1.15);
  cursor: pointer;
  opacity: .8;
}

.hawaii__card {
  background-image: url("/Assets/Images/hawaii.jpg");
}

.iceland__card {
  background-image: url("/Assets/Images/iceland.jpg");
}

.greece__card {
  background-image: url("/Assets//Images/greece.jpg");
}

/* FOOTER */

.footer {
  height: 9.25rem;
  background-color: #efece8;
}

.footer__container {
  height: 100%;
  margin: 0rem 4rem 0.25rem 4rem;
  display: flex;
  justify-content: center;
}

.footer__header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.footer__content {
  height: 100%;
  width: 20%;
  flex-direction: column;
}

.footer__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #236076;
  margin-bottom: 10px;
}

.footer__subheader {
  position: relative;
  top: 0.5rem;
  font-size: 0.75rem;
  color: #db7a4e;
}

.footer__info {
  position: relative;
  top: 1rem;
  font-size: 0.8rem;
}

.hours {
  width: 30rem;
  position: relative;
  left: 6rem;
}

#hours__sub1 {
  position: relative;
  right: 2rem;
}

.hours__subheader {
  margin: 0 2rem 0 2rem;
}

.hours__info {
  margin: 0 0.5rem 0 0.75rem;
}

.hours__info1 {
  position: relative;
  right: 1.5rem;
}

.social {
  position: relative;
  left: 4rem;
}

.social__links > ul {
  list-style: none;
}

.social__links > ul > li {
  display: inline;
  position: relative;
  right: 1rem;
}

.social__links > ul > li > a > img {
  transform: scale(0.4);
  transition: ease 1s;
}

.social__links > ul > li > a > img:hover {
  transform: scale(0.6);
}
